.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    

}

.Btns{
    margin: 60px;
    

}
.imageSlider > img{
    height: 200px;

}

.fullScreen > img{
    height: 600px;
}